<!DOCTYPE html>
<html>
  <head>
    <title>InvoiceAutomater</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script type="module" src="../frontend/src/components/invoice-list.js"></script>
  </head>

  <body>
    <invoice-list></invoice-list>
    <%= yield %>
  </body>
</html>
